<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
    <ul class="nav ">
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['/']">Accueil</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active"  [routerLink]="['/catalogue']">Catalogue</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active"  [routerLink]="['/profil']">Espace Client</a>
        </li>
    </ul>
      <div class="navbar-right">
        <a routerLinkActive="active"  [routerLink]="['panier']">Panier({{nbElementPanier}})</a>
      </div>
  </div>
</nav>
