<app-filterproduct (filter)="search($event)" class="centrer"></app-filterproduct>
<div class="container-fluid">
<div class="clr-row" *ngFor="let x of productFilter">
    <div class="clr-col-lg-4 clr-col-12">
      <div class="card card-block">
        <div class="card-block">
          <h3 class="card-title">{{x.name}}</h3>
          <p class="card-text">
            <img
              class="image"
              src="../../../../../assets/img/{{x.picture}}"
              />
          </p>
          <div>{{x.price}}</div>
        </div>
        <div class="card-footer">
          <input class="btn btn-outline" type="button" (click)="addCart(x.id, x.name, x.price, x.info, x.detail, x.picture)" value="Ajouter au panier"/><br>
          <a [routerLink] = "['/catalogue/detail',x.id]" > Détail du produit</a>
      </div>
    </div>
</div>
</div>
  <div *ngIf="isEmpty" class="alert alert-danger">Il n'y a pas de produit.</div>
</div>
